<div class="container">


  <div class="row mt-3">
    <div class="col-12 ">
        <div *ngIf="successTrigger" class="alert alert-success">
            <i class="fa fa-check fa-fw"></i>
            <strong>{{myMessage}}</strong>
          </div>
         
    </div>

    <div class="col-12 ">
        <div *ngIf="errorTrigger" class="alert alert-danger">
            <i class="fa fa-warning fa-fw"></i>
            <strong>{{myMessage}}</strong>
          </div>
        
    </div>


    <div class="col text-center">
      <i class="fa fa-spinner fa-spin fa-2x" style="color:lightskyblue" *ngIf="allData.length==0"></i>

    </div>
  </div>

  <div class="row mt-3" *ngIf="allData.length>0 && !singleShopSelected">
    <div class="col text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3 text-center">
      <div class="card" style="width:100%">
        <div class="body mt-1 ">
          <h5>Search date range
            <i class="fa fa-spinner fa-spin fa-2x" style="color:lightskyblue" *ngIf="loading"></i>

          </h5>
          {{currentRange.startDate}} -to- {{currentRange.endDate}}

          <!-- <p class="text-center"> <input type="text" name="searchFilter" [(ngModel)]="searchFilter" class="form-control">
         </p> -->
          <hr>
          <!-- <h5>Date Range</h5> -->
          <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker></ngx-mat-drp>

          <hr>

          <mat-form-field>
            <mat-select placeholder="Categories" [(ngModel)]="selectedCategory" (ngModelChange)="categoryChange()"
              multiple>
              <mat-option *ngFor="let category of categories" [value]="category.key">{{category.value}}</mat-option>
            </mat-select>
          </mat-form-field>

          <hr>

          <mat-form-field>
            <mat-select placeholder="Zones" [(ngModel)]="selectedZone" (ngModelChange)="zoneChange()" >
              <mat-option *ngFor="let z of zones" [value]="z">
                {{z.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <hr *ngIf="regions.length>0">

          <mat-form-field *ngIf="regions.length>0">
            <mat-select placeholder="Regions" [(ngModel)]="selectedRegion" (ngModelChange)="regionChange()" >
              <mat-option *ngFor="let z of regions" [value]="z">
                {{z.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <hr *ngIf="cities.length>0">

          <mat-form-field *ngIf="cities.length>0">
            <mat-select placeholder="Cities" [(ngModel)]="selectedCity" (ngModelChange)="cityChange()" >
              <mat-option *ngFor="let z of cities" [value]="z">
                {{z.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <hr *ngIf="chanels.length>0">

          <mat-form-field *ngIf="chanels.length>0">
            <mat-select placeholder="Chanels" [(ngModel)]="selectedChanel" (ngModelChange)="chanelChange()" >
              <mat-option *ngFor="let z of chanels" [value]="z">
                {{z.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <hr> -->
          <!-- <p-accordion class="text-center">
            <p-accordionTab header="advance serach">
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"  [style]="{'padding':'5px'}"  editable="true"
                placeholder="Select a Brand"></p-dropdown>
              <p>Selected value: {{selectedCity || 'none'}}</p>
              <hr>
              <h3>City list</h3>
              <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [style]="{'padding':'5px'}"                editable="true" placeholder="Select a Brand"></p-dropdown>
              <p>Selected value: {{selectedCity1 || 'none'}}</p>
           
            </p-accordionTab>
          </p-accordion> -->
        </div>
      </div>
    </div>
    <div class="col ml-2 " *ngIf="allData.length>0 ">
      <ng-container>
        <!-- <div class="row">
          <div class="col-6">
            <table class="table">
              <tr *ngFor="let item of store.itemList">
                <th>{{item.heading}}</th>
                <td>{{item.value}}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn btn-link">More Details</a>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="col">
            <img src="{{ip}}{{store.shopImgURL}}" width="100%" height="400" alt="" srcset="" style="
              border: black 1px solid;  ">
          </div>
        </div> -->
        <!--  -->
        <div class="row " *ngIf="!singleShopSelected">

          <div class="col-4 mb-4" *ngFor="let product of allData |filter:searchFilter | paginate: { itemsPerPage: 9, currentPage: p }">
            <mat-card class="example-card">
              <mat-card-header class="mb-1" (click)="getShop(product)">
                <!--  -->
                <div mat-card-avatar class="example-header-image">
                  <img src="{{ip}}{{product.shopImgURL}}" width="50" class="rounded-circle">
                </div>
                <mat-card-title style="font-size:15px;cursor: pointer;" title="{{product.shopName}}">{{product.shopName
                  | slice:0:18 | titlecase}} </mat-card-title>
                <mat-card-subtitle>{{product.city}},{{product.region}},{{product.zone}} </mat-card-subtitle>
              </mat-card-header>
              <img *ngIf="product.assetImageURL;" mat-card-image src="{{ip}}{{product.assetImageURL}}" alt="Product photo">
              <img *ngIf="product.assetImageURL==null;" mat-card-image id="inf" src="assets/images/inf.png" alt="No image found"
                #noImageFound>
              <mat-card-content>
                <table>
                  <tr *ngFor="let d of product.assetItemList ">
                    <th>{{d.heading}}:</th>
                    <td style="font-size:10px">{{d.value}}</td>
                  </tr>

                </table>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Details</button>
                <!-- <button mat-button>SHARE</button> -->
              </mat-card-actions>
            </mat-card>
          </div>

        </div>


        <div class="row" *ngIf="singleShopSelected">
          <button type="button" class="btn btn-large btn-block btn-primary mb-3" (click)="getall()">getAll</button>

          <div class="col-6">
            <table class="table">
              <tr *ngFor="let item of selelctedShop.itemList">
                <th>{{item.heading}}</th>
                <td>{{item.value}}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn btn-link">More Details</a>
                </td>
                <td></td>
              </tr>
            </table>

          </div>
          <div class="col-6">

            <img src="{{ip}}{{selelctedShop.shopImgURL}}" width="400" alt="">

          </div>
          <!-- <div class="row">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div> -->

        </div>

        <div class="row" *ngIf="singleShopSelected">
          <div class="col-4 mb-4" *ngFor="let product of allData | paginate: { itemsPerPage: 9, currentPage: p }">
            <mat-card class="example-card">
              <mat-card-header class="mb-1" (click)="getShop(product)">
                <!--  -->
                <div mat-card-avatar class="example-header-image">
                  <img src="{{ip}}{{product.shopImgURL}}" width="50" class="rounded-circle">
                </div>
                <mat-card-title style="font-size:15px;cursor: pointer;" title="{{product.shopName}}">{{product.shopName
                  | slice:0:18 | titlecase}} </mat-card-title>
                <mat-card-subtitle> </mat-card-subtitle>
              </mat-card-header>
              <img *ngIf="product.assetImageURL;" mat-card-image src="{{ip}}{{product.assetImageURL}}" alt="Product photo">
              <img *ngIf="product.assetImageURL==null;" mat-card-image id="inf" src="assets/images/inf.png" alt="No image found"
                #noImageFound>
              <mat-card-content>
                <table>
                  <tr *ngFor="let d of product.assetItemList ">
                    <th>{{d.heading}}:</th>
                    <td style="font-size:10px">{{d.value}}</td>
                  </tr>

                </table>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Details</button>
                <!-- <button mat-button>SHARE</button> -->
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>