<div class="container">
  <div class="row mt-3">
    <div class="col text-center">
      <i class="fa fa-spinner fa-spin fa-2x" style="color:lightskyblue" *ngIf="allData.length==0"></i>

    </div>
  </div>

  <div class="row mt-3" *ngIf="allData.length>0">
    <div class="col text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3 text-center">
      <div class="card" style="width:100%">
        <div class="body mt-1 ">
          <h3>Search here</h3>

          <hr>
          <h5>Date Range</h5>
          <p-calendar [(ngModel)]="rangeDates" (ngModelChange)="dateRangeChange()" selectionMode="range" [readonlyInput]="true" [style]="{'max-width':'180px'}"></p-calendar>
          <!-- {{rangeDates | date :'YYYY-MM-DD' || 'none'}} -->
          <hr>
          <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [style]="{'max-width':'180px'}" autoWidth=true editable="true"
            placeholder="Select a Brand"></p-dropdown>
          <!-- <p>Selected value: {{selectedCity || 'none'}}</p> -->
          <hr>
          <!-- <h3>City list</h3> -->
          <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [style]="{'max-width':'180px'}" autoWidth=true
            editable="true" placeholder="Select a Brand"></p-dropdown>
          <!-- <p>Selected value: {{selectedCity1 || 'none'}}</p> -->
          <hr>
          <!-- <h3>City list</h3> -->
          <p-dropdown [options]="cities" [(ngModel)]="selectedCity2" [style]="{'max-width':'180px'}" autoWidth=true
            editable="true" placeholder="Select a Brand"></p-dropdown>
          <!-- <p>Selected value: {{selectedCity2 || 'none'}}</p> -->
          <hr>
          <p-multiSelect [options]="cars" [(ngModel)]="selectedCars1" [style]="{'max-width':'180px'}"></p-multiSelect>
          <!-- <p>Selected value: {{selectedCars1}}</p> -->
          <hr>
          <p-accordion class="text-center">
            <p-accordionTab header="advance serach">
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity"  [style]="{'padding':'5px'}"  editable="true"
                placeholder="Select a Brand"></p-dropdown>
              <!-- <p>Selected value: {{selectedCity || 'none'}}</p> -->
              <hr>
              <!-- <h3>City list</h3> -->
              <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [style]="{'padding':'5px'}"                editable="true" placeholder="Select a Brand"></p-dropdown>
              <!-- <p>Selected value: {{selectedCity1 || 'none'}}</p> -->
           
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
    <div class="col ml-2 " *ngIf="allData.length>0 ">
      <ng-container >
        <!-- <div class="row">
          <div class="col-6">
            <table class="table">
              <tr *ngFor="let item of store.itemList">
                <th>{{item.heading}}</th>
                <td>{{item.value}}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn btn-link">More Details</a>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="col">
            <img src="{{ip}}{{store.shopImgURL}}" width="100%" height="400" alt="" srcset="" style="
              border: black 1px solid;  ">
          </div>
        </div> -->
        <div class="row ">

          <div class="col-4 mb-4" *ngFor="let product of allData | paginate: { itemsPerPage: 9, currentPage: p }">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title style="font-size:15px" title="{{product.shopName}}">{{product.shopName | slice:0:14}} </mat-card-title>
                <mat-card-subtitle> </mat-card-subtitle>
              </mat-card-header>
              <img *ngIf="product.assetImageURL;" mat-card-image src="{{ip}}{{product.assetImageURL}}" alt="Product photo">
             <img *ngIf="product.assetImageURL==null;"  mat-card-image id="inf" src="assets/images/inf.png" alt="No image found"  #noImageFound>
              <mat-card-content>
                <table>
                  <tr *ngFor="let d of product.assetItemList ">
                    <th>{{d.heading}}</th>
                    <td style="font-size:10px">{{d.value}}</td>
                  </tr>

                </table>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>

        </div>
      </ng-container>

    </div>
  </div>
</div>