<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/images/pngLogo.png" id="icon" alt="User Icon" />
      <h1>P&G Portal</h1>
    </div>

    <!-- Login Form -->

    <div *ngIf="errorTrigger" class="alert alert-danger">
        <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
        <i class="fa fa-warning fa-fw"></i>
        <strong>{{myMessage}}</strong>
      </div>



    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <input [formControl]="userName" type="text" id="userName" class="fadeIn second" name="userName" placeholder="username">
      <br>
      <span *ngIf="!userName.valid && userName.touched " class="alert-danger mt-1 mb-1">User name must be greater than 4 charaters</span>
      <br>

      <input [formControl]="password" type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <br>
      <span *ngIf="!password.valid && password.touched " class="alert-danger mt-1 mb-1"> Password field can't empty.
      </span>
      <br>



      <input [disabled]="form.invalid" type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Go to the Site</a>
    </div> -->

  </div>
</div>