<img *ngIf=loadingData src="assets/images/basicloader.gif" style="
margin: 20% 40%;
">
<div class="container-fluid mt-4 animated slideInUp" *ngIf=!loadingData>

    <div *ngIf="selelctedShop" class="row text-center detail animated slideInUp">
        <div class="col-6">
            <img src="{{selelctedShop.shopFullImg}}" alt="" class="img-thumbnail">

        </div>

        <div class="col-6">
            <table class=" table table-noborder text-justify">

                <tr *ngFor="let item of selelctedShop.itemList" class="mb-3">
                    <th class="mr-3">{{item.heading}}:</th>
                    <td>{{item.value}}</td>
                </tr>

            </table>

        </div>



    </div>




</div>